mixin questions(surveyQ)
    li
        span=surveyQ[0]
        lable yes
        input(name="q1", id="q1", type="radio",value=1, required)
        lable no
        input(name="q1",id="q1",type="radio",value=0)