mixin surveyList(survey)
    div 
        h4 
            a(href=`/survey/${survey.id}/check`)=survey.title
        img(src="#")
        ul
            li #{survey.rating} /5
            li #{survey.people} people
            li #{survey.shared} shared