.resultContainer{
    margin-top:200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .resultBox{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        .resultBoxTitle{
            font-size: 40px;
            margin-bottom: 20px;
        }
        .resultBoxImg{
            width: 550px;
            height: 550px;
            background-color: $point;
            display: flex;
            justify-content:center;
            align-items: center;
        }
        .resultBoxText{
            position: absolute;
            bottom: 65%;
            right: 20%;
        }
    }
}
