doctype html
html(lang="ko")
    head
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")

    body 
        header
            h1=pageTitle
            nav 
                ul 
                    li
                        a(href="/")
                            button Home
                    li 
                        a(href="/search")
                            button Search
                    if loggedIn
                        li 
                            a(href="/logout") 
                                button Log Out
                        li
                            a(href="/my-profile")
                                button #{loggedInUser.name}'s profile
                        li 
                            a(href="/survey/upload")
                                button Upload
                    else
                        li
                            a(href="/join")  
                                button Join
                        li
                            a(href="/login")  
                                button Login  

        main
            block content 

    include partials/footer.pug