doctype html
html(lang="ko")
    head
        title #{pageTitle} | Pool 
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")

    body 
        header
            h1=pageTitle
            nav 
                ul 
                    li
                        a(href="/")
                            button Home
                    li 
                        a(href="/survey/upload")
                            button Upload
                    li 
                        a(href="/search")
                            button Search
                    li 
                        a(href="/join")
                            button Join

        main
            block content 

    include partials/footer.pug