extends base.pug
include mixins/questionAnswer

block content 
    h2 Questions
    form(method="POST")
        ul
        each q in surveyQ
            +questionAnswer(q)
        button(name="done") done 

    div
        button
            a(href="result") submit &rarr;
    