extends base


block content
    if errorMessage
        span=errorMessage
    div.loginContainer 
        form(method="POST")
            a(href="/user/kakao/start")
                div.btn1 카카오로 로그인 하기