extends base.pug

block content 
    div
        h2 result page #{resultNum}
        - var num = resultNum
        case num 
            when 0
                p are you okay?
            when 1
                p oh 
            when 2
                p now is start 
            when 3
                p average 
            when 4
                p pretty much good
            when 5
                p perfect

        span share your result 
