extends base.pug
include mixins/surveyList

block content 
    form(method="GET")
        input(type="text", required, maxlength=80, name="keyword", placeholder="Survey Title ...")
        button(type="submit", value="Search")
    
    div 
        each potato in surveys
            +surveyList(potato)