extends base.pug
include mixins/surveyList

block content 
    div.searchContainer
        form(method="GET")
            input(type="text", required, maxlength=80, name="keyword", placeholder="Survey Title ...", class="globalInput")
            button.btn1(type="submit") Search
    
        div 
            each potato in surveys
                +surveyList(potato)